h1,h2,h3,h4 {
    margin: 0 0 20px 0;
}
p {
    margin: 0 0 15px 0;
}
ul {
    list-style: none;
}



/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 20px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
    background: #E4E4E4;
	display: block;
	position: relative;
	z-index: 9999;
	width: 15px;
	height: 15px;
	outline: none;
	margin: 10px 0;
	border-radius: 50%;
}

.no-touch .cbp-fbscroller > nav a:hover {
	background: #C10018;
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
	background: #333;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}

#fbsection1 {
	background-image: url(../images/1.jpg);
}

#fbsection2 {
	background-image: url(../images/2.jpg);
}

#fbsection3 {
	background-image: url(../images/3.jpg);
}

#fbsection4 {
	background-image: url(../images/4.jpg);
}

#fbsection5 {
	background-image: url(../images/5.jpg);
}
section {
    position: relative;
}
.header {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 999;
}
#fbsection1 .background-color {
    background: #C10018;
    bottom: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#fbsection1 .background-color {
    background: #C10018;
    bottom: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#fbsection1 .background-color {
    
}
#fbsection2 .background-color {
    background: #24A434;
}
#fbsection3 .background-color {
    background: #03A8D0;
}
#fbsection4 .background-color {
    background: #AC459E;
}
.content {
    height: 100%;
    padding: 350px 50px 50px 50px;
    width: 50%;
}

.title {
    font-size: 8em;
    margin-bottom: 0px;
}
.slogan {
    font-size: 2.3em;
    font-weight: lighter;
    margin-bottom: 50px;
}
.description {
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 1.3;
}
footer ul li {
    float: left;
    text-align: center;
    margin: 0 20px;
    width: 25%;
}
footer ul li a {
    background: transparent;
    border: 3px solid #fff;
    border-radius: 30px;
    color: #eee;
    display: block;
    line-height: 15px;
    padding: 20px 0;
    height: 60px;
}
footer ul li a:hover {
    color: #fff;
}
footer {
    position: fixed;
    bottom: 100px;
    height: 60px;
    left: 0;
    right: 0;
    width: 50%;
}
.google {
    background: url(../images/google.jpg) center center no-repeat #000;
    background-size: 90%;
    border: none;
}
.google:hover, 
.apple:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.apple {
    background: url(../images/apple.jpg) center center no-repeat #f8f8f8;
    background-size: 90%;
    border: none;
}
.by-vodafone {
    color: #BE031B;
    position: fixed;
    padding: 0 30px;
    top: 30px;
    right: 0;
    z-index: 999;
}
.by-vodafone p {
    margin: 0;
}
.by-vodafone strong {
    font-size: 24px;
}
